<ul class="grid-row">
<%  icons.forEach(function(icon) { %>
<li class="border text--center col-md-3 padding-leader padding-trailer">
	<span class="icon icon-<%= icon.name %> text-size--54 trailer--small inline-block"></span>
	<span class="display--block text-size--13">icon-<%= icon.name %></span>
</li>
<% }); %>
</ul>
